<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotwire for Frontend Developers</title>
  <script src="/hotwire/javascript/turbo.es2017-esm.js" data-turbo-track="reload" type="module"></script>
  <link rel="stylesheet" href="/hotwire/styles/output.css" data-turbo-track="reload">
</head>
<body>
