<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotwire for Frontend Developers</title>
  <script src="/hotwire/javascript/turbo.es2017-esm.js" data-turbo-track="reload" type="module"></script>
  <script data-turbo-track="reload" type="module">
    import {Application} from "/hotwire/javascript/stimulus.js"
    import PopupController from "/hotwire/javascript/popup_controller.js"
    import FormlikeController from "/hotwire/javascript/formlike_controller.js"
    import LabelerController from "/hotwire/javascript/labeler_controller.js"

    window.Stimulus = Application.start()

    Stimulus.register("popup", PopupController)
    Stimulus.register("formlike", FormlikeController)
    Stimulus.register("labeler", LabelerController)
  </script>
  <link rel="stylesheet" href="/hotwire/styles/output.css" data-turbo-track="reload">
</head>
<body>
<div class="bg-white grid grid-cols-3 justify-between p-1 items-start mx-4">
  <a href="/" class="text-xl p-1 text-orange-600 flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
    </svg>
    <span>Top</span>
  </a>
  <div class="flex flex-col">
    <a href="/" class="text-xl p-1 font-bold text-gray-400 hover:text-orange-600">Hotwire for Frontend Developers</a>
    <a href="/delay_setter" class="mx-auto block btn-outline-primary text-xs !p-1">Set delay</a>
  </div>
  <div>
    <div class="w-fit ml-auto text-lg p-2 rounded bg-yellow-400 text-black">Hotwire</div>
  </div>
</div>
<div class="text-2xl fixed opacity-70 right-0 top-0 w-56 bg-rose-600 text-white font-bold text-center text-white rotate-45 translate-x-12 translate-y-12">
  beta
</div>

