<div class="flex flex-wrap gap-2 justify-center">
  <a href="/modal"
     class="<%= selected === "use_effect" ? "btn-primary" : "btn-outline-primary"%>"
  >
    React useEffect
  </a>
  <a href="/api/hotwire/modal_no_js"
     class="<%= selected === "hotwire_no_js" ? "btn-primary" : "btn-outline-primary"%>"
    >
    Hotwire Custom JavaScript未使用
  </a>
  <a href="/api/hotwire/modal_w_js"
     class="<%= selected === "hotwire_w_js" ? "btn-primary" : "btn-outline-primary" %>"
  >
    Hotwire Custom JavaScript使用
  </a>
</div>
