<%- include("../layouts/header.ejs") -%>
<div class="max-w-2xl mx-auto my-10 p-4 border rounded-lg border-gray-400">
  <div class="text-left pb-4">
    <a href="/api/hotwire/forms/post_redirect" class="btn-primary">
      Return to form
    </a>
  </div>
  <div class="text-center">
    <h1 class="text-3xl">404 Error</h1>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
