<turbo-stream action="update" target="turbo-stream-response">
  <template>
    <div class="my-2 border border-green-600 rounded p-2 text-green-600">Turbo Stream response</div>
  </template>
</turbo-stream>
