<%- include("../layouts/header.ejs") -%>
<script>
  function showPopup(eventTarget) {
    hideAllPopups()
    eventTarget.parentElement.querySelector("[data-js=user-detail-popup]")
      .classList.remove('hidden')
  }

  function hideAllPopups() {
    document.querySelectorAll("[data-js=user-detail-popup]")
      .forEach((popup) => popup.classList.add('hidden'))
  }
</script>
<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center"><h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        ポップアップのUI</h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/api/hotwire/popup"
           class="rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
          Turbo Frames & JS ポップアップ
        </a>
        <a href="/api/hotwire/popup_stimulus"
           class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 shadow-sm hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
          Turbo Frames & Stimulus ポップアップ
        </a>
        <a class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 shadow-sm hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
           href="/popup">Next.js ポップアップ</a></div>
      <div class="my-10 px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto"><h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1></div>
        </div>
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <turbo-frame id="users" src="/api/hotwire/popup/users">
                <img src="/images/rocket.gif" alt="loader" class="m-auto w-16 h-16"/>
              </turbo-frame>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
