@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .turbo-with-loader {
        position: relative;
    }

    .turbo-with-loader .turbo-hide-on-loading {
        position: relative;
        transition-delay: 500ms;
    }

    .turbo-with-loader.no-delay .turbo-hide-on-loading {
        transition-delay: 0ms;
    }

    .turbo-with-loader .turbo-hide-on-loading::before {
        visibility: hidden !important;
        opacity: 0 !important;
        transition-delay: 500ms;
        transition-property: opacity;
    }

    .turbo-with-loader.no-delay .turbo-hide-on-loading::before {
        transition-delay: 0ms;
    }

    .turbo-with-loader[busy] .turbo-hide-on-loading {
        visibility: hidden !important;
    }

    .turbo-with-loader[busy] .turbo-hide-on-loading::before {
        content: '';
        /* Visible will show at the beginning of the transition */
        visibility: visible !important;
        /* This will set opacity at the end of the transition */
        opacity: 1 !important;
        position: absolute !important;
        display: block;
        background-image: url('../../images/rocket.gif');
        width: 64px;
        height: 64px;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .modal-dialog .modal-backdrop {
        @apply ease-out duration-300 opacity-0 invisible
    }

    .modal-dialog.modal-open .modal-backdrop {
        @apply ease-out duration-200 opacity-100 visible
    }

    .modal-dialog .modal-panel {
        @apply ease-out duration-300 translate-y-4 sm:translate-y-0 sm:scale-95 opacity-0 invisible
    }

    .modal-dialog.modal-open .modal-panel {
        @apply ease-in duration-200 translate-y-0 sm:scale-100 opacity-100 visible
    }

    /* general component classes */
    .btn-primary {
        @apply rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600
    }
    .btn-primary-muted {
        @apply rounded-md bg-orange-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400
    }
    .btn-outline-primary {
        @apply rounded-md border border-orange-600 bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600
    }
    .demo-h1 {
        @apply text-3xl text-gray-900 mb-4
    }
    .demo-h2 {
        @apply text-base font-semibold leading-6 text-gray-900
    }
}
