<%- include("../layouts/header.ejs") -%>
<div class="my-10 px-4 sm:px-6 lg:px-8">
  <%- include("../modal_components/_tech_nav.ejs", {selected: "hotwire_no_js"}) %>
  <div class="flex justify-center mt-48">
    <div>
      <a href="/api/hotwire/modal_no_js/modal" data-turbo-frame="modal"
         class="border bg-orange-600 rounded text-white p-2">
        Show Modal (Without Custom JavaScript)
      </a>
    </div>
  </div>
  <turbo-frame id="modal"></turbo-frame>
</div>
<%- include("../layouts/footer.ejs") -%>
