<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotwire for Frontend Developers</title>
  <script src="/hotwire/javascript/turbo.es2017-esm.js" data-turbo-track="reload" type="module"></script>
  <link rel="stylesheet" href="/hotwire/styles/output.css" data-turbo-track="reload" >
</head>
<body>
<div class="bg-white flex justify-end p-1">
  <a href="/hotwire/index.html" class="text-lg p-1 rounded bg-red-600 text-white mr-2">Hotwire</a>
  <a href="/" class="text-lg p-1 rounded text-blue-600">Next.js</a>
</div>
<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h3 class="mt-4 text-2xl font-bold tracking-tight text-gray-900 sm:text-2xl">ページ遷移（ルーティング）</h3>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/api/hotwire/users"
           class="rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
           data-turbo="false">ブラウザネイティブ 画面遷移</a>
        <a href="/api/hotwire/users"
           class="rounded-md bg-fuchsia-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-fuchsia-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
           data-turbo="true">Hotwireによる 画面遷移</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
