<div class="mt-10 flex items-center justify-center gap-x-6">
  <a href="/api/hotwire/tabbed_segments_no_js"
     class="btn-outline-primary">Javascriptなし</a>
  <a href="/api/hotwire/tabbed_segments_turbodrive"
     class="btn-primary">Turbo Drive</a>
  <a href="/api/hotwire/tabbed_segments_turboframes"
     class="btn-outline-primary">Turbo Frames</a>
  <a class="btn-outline-primary"
     href="/tabbed_segments">Next.js (useEffect)</a>
  <a class="btn-outline-primary"
     href="/tabbed_segments_app">Next.js Parallel routes</a>
</div>
