<div class="flex flex-wrap gap-2 justify-center" data-turbo="false">
  <a href="/api/hotwire/details_panel_mpa"
     class="<%= selected === "mpa" ? " btn-primary" : " btn-outline-primary" %>"
  >
    MPA
  </a>
  <a href="/api/hotwire/details_panel"
     class="<%= selected === "turbo_frames" ? " btn-primary" : " btn-outline-primary" %>"
  >
    Hotwire Turbo Frames
  </a>
  <a href="/details_panel"
     class="<%= selected === "use_effect" ? " btn-primary" : " btn-outline-primary" %>"
  >
    Next.js useEffect
  </a>
</div>
